
body{
  color: #40514E;
 margin: 0;
 text-align: center;
 font-family: sans-serif;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-weight: normal;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  text-decoration: node;
}

a:hover{
  color: #EAF6F6;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom:none;
  width: 4%;
  margin: 100px auto;
}
.profile_img{
  border-radius: 100%;
  width:150px;
  height: 200px;
}
.profile_exp{
  width: 150px;
  height: 150px;
  margin-bottom: 50px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.profile_skill{
  width: 40%;
  float: left;
  margin-right: 30px;
}

.profile_skill_TV{
  width:40%;
  float: right;
  margin-left: 30px;
}

.profile_skill_STB{
  width: 30%;
  float: left;
}
.profile_skill_all{
  width:25%;
  float:right;
}
.skill_table
{
  text-align: left;
}

.top_container{
  background-color: #E4F9F5;
  position:relative;
  padding-top:100px;
}

.top_cloud{
  margin-left:400px;
  top: 40px;
}
.bottom_cloud{
  position: absolute;
}

.middle_container{
  margin: 100px 0;
}

.bottom_container{
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #66BFBF;
}

.intro{
  width: 30%;
  margin: auto;
}
.intro_1{
  width: 30%;
  margin: auto;
}
.list_inside_img{
  list-style-position: inside;
  text-align:center;
  list-style-image: url("../images/star.png");
}

.list_hobby{
  list-style-position: inside;
  list-style-image: url("../images/star.png");;
}

.skill_table{
  text-align: left;
}

.workexp_table{
  text-align: left;
}

.work_exp{
  text-align:left
}
.contact_me{
  margin: 40px atuo 60px;
}
.copywrite{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 100px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.BUTTON_JCB {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   width: 200px;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_JCB:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
